In [1]:
#1.UNDERSTANDING COMMENTS:
#PROGRAM 1- Single and Multiline Comments
print("Single line comments start witha hash symbol \"#\" ")        #Single line comments
#comments are those charcters which do not get printed when we run the program.
print("Multi-line Comments begin are written within triple quotes.")#Multi-line Comments
"""
comments enclosed within triple quotes allows us to write comments in multiple lines
and they are enclosed in triple double or triple single quotes.
"""
#PROGRAM 2- Commenting on Variable Assignments
x=10                   #10(int) is stored in the variable 'x'.
y=20.5                 #20.5(int) is stored in variable 'y'.
name="Alice"           #Alice(str) stored in variable name
print(x,y,name)        #Diffrent data types can be printed without error.
'''When variable are separated by comma in a print statement they get printed
with space b/w them.'''
#PROGRAM 3-Explaining  a Simple Mathematical Operation with Comments.
length=5                                            #length is 5 units.
width=3                                             #width is 3 units.
area=length*width                                   #creating a variable named area.
print("Area of rectangle is:",area)                 #printing area.

Single line comments start witha hash symbol "#"
Multi-line Comments begin are written within triple quotes.
10 20.5 Alice
Area of rectangle is: 15

In [2]:
#2.EXPLORING OPERATORS AND THEIR PRECEDENCE:
#PROGRAM 1-Basic Arithmetic Operations
a=10                                                #value of 10 is stored in variable 'a'.
b=5                                                 #value of 5 is stored in variable 'b'.
addition=a+b                                        #using adssignment operators like +,-,*,/
subtraction=a-b
multiplication=a*b
division=a/b
print("Addition:",addition)                         #printing the result.
print("Subtraction:",subtraction)
print("Multiplication:",multiplication)
print("Division:",division)
#PROGRAM 2-Operator Precedence in Expresions.
a=5                                               #assigning value 5 to variable 'a'.
b=10                                              #assigning value 10 to variable 'b'.
c=15                                              #assigning value 15 to variable 'c'.
result1=a+b*c                                     #here first multiplication will happen like BODMAS Rule.
result2=(a+b)*c                                  #here first the brackets will be solved(BODMAS Rule).
print("Result1(a+b*c):",result1)
print("Result2((a+b)*c):",result2)
#PROGRAM 3-Using Comparison and Logical Operators.
a=10                                              #assigning value 10 to 'a'.
b=20                                              #assigning value 20 to 'b'.
c=30                                              #assigning value 30 to 'c'.
is_greater=a<b and b<c                            #using LOGICAL AND Operator.
is_equal= a==b                                    #== means checking the value is equal or not while = means assigning the value.
print("Is a<b and b<c:",is_greater)               #printing the values.
print("Is a equal to b:",is_equal)
#PROGRAM 4-Combining Multiple Operators.
a=8                                        #assigning value 8 to 'a'.
b=3                                        #assigning value 3 to 'b'.
c=2                                        #assigning value 2 to 'c'.
result=(a+b)*c>20                          #first parenthesis will be evaluated.
print("Result is:",result)                 #output will be a BOOLEAN value.

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Result1(a+b*c): 155
Result2((a+b)*c): 225
Is a<b and b<c: True
Is a equal to b: False
Result is: True

In [4]:
#3.RESERVED WORDS IN A PYTHON PROGRAM.
#PROGRAM 1-Using Reserved Words in a Python Program.
number=10                            #assigning value 10 to 'number'
pi=3.14                              #assigning value 3.14 to pi.
is_valid=True                        #assigning value True to is_valid.
print(f"Number: {number}")           #using f strings which is an easy way to join both strings and int type.
print(f"Pi: {pi}")
print(f"Is Valid: {is_valid}")
#for is an invalid variable name as it is a KEYWORD.
#PROGRAM 2-Using import and from
import math                                                            #importing math module
from math import sqrt                                                  #importing sqrt from math module
result=sqrt(14)
print("Square root of 16 is",result)
circle_area=math.pi*(5**2)                                             #using pi method to find area of circle.
print("Area of circle of radius=5 units is: ",circle_area)
#PROGRAM 3-Using def and return
def add_numbers(a,b):                     #defining a function
  result=a+b
  return result                           #returning a value
sum_result=add_numbers(3,7)
print("The sum of 3 and 7 is",sum_result)
#PROGRAM 4-Using try,except and finally
try:
  number=int("not a number")                                #can not be an integer Data Type.
except ValueError:
  print("There was an error converting the string to an integer")
finally:
  print("This block runs no matter what")
#PROGRAM 5-Using del
numbers=[1,2,3,4,5]                       #list
del numbers[2]
print("Updated list is",numbers)
del numbers                              #deleted the list.
#print(numbers)
#PROGRAM 6-Using in and not
fruits=["apple","banana","cherry"]
is_banana_present="banana" in fruits
print("Is banana in fruits list?",is_banana_present)
is_grape_absent="grape" not in fruits
print("Is grape not in the list of fruits?",is_grape_absent)

Number: 10
Pi: 3.14
Is Valid: True
Square root of 16 is 3.7416573867739413
Area of circle of radius=5 units is:  78.53981633974483
The sum of 3 and 7 is 10
There was an error converting the string to an integer
This block runs no matter what
Updated list is [1, 2, 4, 5]
Is banana in fruits list? True
Is grape not in the list of fruits? True

In [5]:
#STUDENT EXERCISE
base_salary=int(input("Enter your BASE SALARY:"))                         #Taking the base salary input.
bonus=int(input("Enter your BONUS:"))                                     #Taking the bonus input.
tax_percentage=int(input("Enter your TAXES:"))                            #Taking tax percentage input.
gross_salary=bonus+base_salary
net_salary=(base_salary+bonus)-((base_salary+bonus)*tax_percentage/100)
print("Your Gross Salary is:",gross_salary)
print("Your Net Salary is:",net_salary)

Enter your BASE SALARY:10000
Enter your BONUS:500
Enter your TAXES:5
Your Gross Salary is: 10500
Your Net Salary is: 9975.0

In [6]:
#CASE STUDY 2
total_purchase=int(input("Enter your Total Amount Purchase."))           #Input from the user.
discount_percentage=int(input("Enter your Discount Percentage."))
tax_percentage=int(input("Enter your Tax Percentage."))
total_amount=total_purchase-(total_purchase*discount_percentage/100)     #Calculating the total amount after discount.
total_amount_after_tax=total_amount+(total_amount*tax_percentage/100)    #Calculating the total amount after tax.
print("Your total amount after discount is:",total_amount)
print("Your total amount after tax is:",total_amount_after_tax)

Enter your Total Amount Purchase.1030
Enter your Discount Percentage.15
Enter your Tax Percentage.2
Your total amount after discount is: 875.5
Your total amount after tax is: 893.01